# Python
__pycache__/
*.py[cod]
*$py.class

# Cache directories
library/catalog/cache/
library/tools/cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
